body {
	font-family: sans-serif;

	max-width: 80vw;
	margin: 0 auto;
}

.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;

	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;

	h1 {
		box-sizing: border-box;
		padding-left: 1.5em;
		padding-right: 1.5em;

	}
}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}

.tabContainer{
	padding: 20px;
}

.filesContainer{
	display: flex;
	flex-direction: column;
	justify-content: start;
	border-right: 1px solid rgb(201, 201, 201);
	// padding: 10px;
}
.signContainer{
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid rgb(201, 201, 201);
	padding: 10px;
	border-right: 1px solid rgb(201, 201, 201);

}
.sendContainer{
	display: flex;
	border-right: 1px solid rgb(201, 201, 201);

	justify-content: start;
	flex-direction: column;
	border-bottom: 1px solid rgb(201, 201, 201);
	padding: 10px;
}

.titleContainer{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(201, 201, 201);
	align-items: center;
	padding: 10px;

}
.filesTitle{
	font-size: 25px;
	 font-weight: bold;
	 margin-right: 15px;
}
.errorTitle{
	font-size: 15px;
	font-weight: bold;
	color: red;
}
.fileItem{
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid rgb(201, 201, 201);
	padding: 10px;
	cursor: pointer;
}
.fileItem:hover{
	background-color: #f5f5f5;
}
.titleItem{
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid rgb(201, 201, 201);
	padding: 10px;
	border-right: 1px solid rgb(201, 201, 201);

}
.removeButton{
	margin-right: 5px;
}
.fieldGroup-38{
	border-radius: 4px!important;
	border: 1px solid rgb(225, 223, 221)!important;
	margin-bottom: 3px;
	box-shadow: rgb(0 0 0 / 10%) 0px 0.2rem 0.4rem -0.075rem;
}
.fileName{
	font-size: 20px;
	font-weight: 600;
	margin-right: 15px;
	cursor: pointer;
}

.fileImage{
	margin-right: 10px; 
	cursor: pointer;
}

.fileChildren{
	font-size: 16px;
	font-weight: 500;
}
.sendButton{
	width: 197px;
	text-align: center;
}
.buttonContainer{
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 20px 0 8px 0; 
}
.textBox{
	width: 400px;
}